* {
    margin: 10px;
    padding: 0;
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif, Arial Rounded MT Bold;    
    background-image: url('/image/rickandmorty-image.png'); 
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
}


input[type='number'] {
    padding: 5px;
    width: 50px;
}


form label {
    padding: 10px;
}


.result-style {
    display: flex;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    box-sizing: border-box;
    background-color: black;
}


img {
    max-height: 200px;
    padding-right: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 100%;
}


header {
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 30px rgb(0 0 0 /1);
}


header h1 {
    font-size: 4em;
    margin-bottom: 5px;
    color: black;
}


header h2 {
    font-size: 3.5em;
    margin-top: 5px;
    color: black;
}


label{
    color: rgb(242, 238, 238);
}


form {
    background-color: rgb(31, 29, 30, 1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgb(0 0 0 / 1);
    margin: 20px auto;
    max-width: 600px;
}


form h2 {
    font-size: 1.5em;
    color: rgb(242, 238, 238);
    margin-bottom: 10px;
}


form input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.5);
}


form button {
    padding: 10px 20px;
    margin-top: 10px;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}


#content {
    color: black;
    margin: auto;
    padding: auto;
}


/* Estilos para o footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    border-top: auto;
}

footer ul {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px; /* Ajuste o tamanho dos ícones conforme necessário */
}

/* Estilos específicos para os ícones do LinkedIn e YouTube */
.fab.fa-linkedin {
    color: #0077B5; /* Cor azul característica do LinkedIn */
}

.fab.fa-youtube {
    color: #FF0000; /* Cor vermelha característica do YouTube */
    before {
        content: "\f167"; /* Código unicode para o ícone da seta branca interna */
        color: #fff; /* Cor branca para a seta */
    }
}

/* Estilos para sobrepor a cor do ícone do YouTube */
.social-icons li a .fab.fa-youtube:before {    
    content: "\f167"; /* Código unicode para o ícone da seta branca interna */
    position: absolute;
    color: #fff; /* Cor branca para a seta */
    font-family: "Font Awesome 5 Brands"; /* Font-family específica para o YouTube */
    left: 0;
    top: 0;
    display: inline-block;
}

/* Estilos para os parágrafos no footer */
footer p {
    margin: 5px 0;
}

